/* css重置样式表 */
/* 通用 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

image {
	vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
i {
	font-weight: 100;
	font-style: normal;
}

ul,
ol,
li {
	list-style-type: none
}

/* ie标准盒子模型 */
.boxSizing {
	box-sizing: border-box;
}

view {
	box-sizing: border-box;
}
.tiao{
	width: 100%;
	height: 20upx;
	background-color: #f5f5f5;
}

/* 弹性盒子 */
/* ie标准盒子模型 */
.boxSizing {
	box-sizing: border-box;
}

view {
	box-sizing: border-box;
}


.uni-flex {
	display: flex;
}
.uni-row {
	flex-direction: row;
}
.uni-column {
	flex-direction: column;
}
.uni-warp {
	flex-wrap: wrap;
}
.uni-flex-item {
	flex: 1;
}
.uni-flex-start {
	justify-content: flex-start;
}
.uni-flex-end {
	justify-content: flex-end;
}
.uni-flex-center {
	justify-content: center;
}
.uni-flex-between {
	justify-content: space-between;
}
.uni-flex-around {
	justify-content: space-around;
}
.uni-align-start {
	align-items: flex-start;
}
.uni-align-center {
	align-items: center;
}
.uni-align-end {
	align-items: flex-end;
}
/* 弹性盒子 */

/* 弹性布局 */
.display_flex {
	display: flex;
}

.flex {
	flex: 1;
}

.flex_between {
	justify-content: space-between;
}

.flex_wrap {
	flex-wrap: wrap;
}

.flex_around {
	justify-content: space-around;
}

.flex_start {
	justify-content: flex-start;
}

.flex_end {
	justify-content: flex-end;
}
.flex_center{
	justify-content: center;
}

.align_item {
	align-items: center;
}

.align_end {
	align-items: end;
}
/* //按钮 */
.btn_submint {
	width: calc(100% - 60upx);
	margin: 200upx auto 0;
	height: 88upx;
	line-height: 88upx;
	background:linear-gradient(90deg,rgba(46,187,242,1) 0%,rgba(66,206,212,1) 100%);
	border-radius: 44upx;
	font-size: 32upx;
	font-family: PingFangSC;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	box-shadow:0px 2px 4px 0px rgba(0,97,170,0.16);
	text-align: center;

}

/* 文本溢出隐藏 单行*/
.uni-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* 文本溢出隐藏 */

/* 文字大小 */
.uni-font-s11 {
	font-size: 22upx
}

.uni-font-s12 {
	font-size: 24upx
}

.uni-font-s13 {
	font-size: 26upx
}

.uni-font-s14 {
	font-size: 28upx
}

.uni-font-s15 {
	font-size: 30upx
}

.uni-font-s16 {
	font-size: 32upx
}

.uni-font-s17 {
	font-size: 34upx
}

.uni-font-s18 {
	font-size: 36upx
}
.uni-wid {
	width: 92%;
	margin: 0 auto;
}

/* 文字大小 */
.uni-font-s12 {
	font-size: 24upx
}

.uni-font-s13 {
	font-size: 26upx
}

.uni-font-s14 {
	font-size: 28upx
}

.uni-font-s15 {
	font-size: 30upx
}

.uni-font-s16 {
	font-size: 32upx
}

.uni-font-s17 {
	font-size: 34upx
}

.uni-font-s18 {
	font-size: 36upx
}
// 文字大小

//字体颜色
.color-red {
	color: #E52A2A;
}
.color-purple {
	color: #5051FF;
}
.color_9b9b9b{
	color: #9b9b9b;
}
.color_0061AA{
	color: #073117;
}

//字体加粗
.font-bold{
	font-weight: 600;
}
/* zujian */
	.ziliaoright view{
		margin-bottom: 10upx;
	}
	.ziliaoright{
		width: 80%;
	}
	.touxiang{
		width: 100upx;
		height: 100upx;
		border-radius: 50%;
	}
	.hongdian{
		width: 20upx;
		height: 20upx;
		border-radius: 50%;
		background: red;
		position: absolute;
		top: 20upx;
		left: 100upx;
	}
	.butn1{
		color: #9b9b9b;
		font-size: 24upx;
		padding: 0 10upx;
		border:1px solid rgba(204,204,204,1);
		border-radius: 24upx;
		width: 132upx;
		text-align: center;
		height: 46upx;
		line-height: 46upx;
		
	}
	.butn2{
		color:rgba(224,32,32,1);
		font-size: 24upx;
		padding: 0 10upx;
		border:1px solid rgba(224,32,32,1);
		border-radius: 24upx;
		width: 132upx;
		text-align: center;
		font-size:24upx;
		height: 46upx;
		line-height: 46upx;
	}
	.butn3{
		background:rgba(18,95,173,1);
		border-radius:24upx;
		height: 46upx;
		line-height: 46upx;
		width: 160upx;
		color:rgba(255,255,255,1);
		font-size: 24upx;
		text-align: center;
		
	}
	.butn3 image{
		width: 24upx;
		height: 24upx;
		position: relative;
		top: -10upx;
		margin-right: 6upx;
	}
	.butn_box{
		margin-top: 20upx;
	}
	
	/* zujian */
	
	/* flex布局全局样式 */
	.uni-flex {
		display: flex;
		flex-direction: row;
	}
	
	.uni-flex-col {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.uni-flex-between {
		display: flex;
		justify-content: space-between;
	}
	
	.uni-flex-start {
		display: flex;
		justify-content: flex-start;
	}
	
	.uni-flex-end {
		display: flex;
		justify-content: flex-end;
	}
	
	.uni-flex-around {
		display: flex;
		justify-content: space-around;
	}
	
	.uni-flex-center {
		display: flex;
		justify-content: center;
	}
	
	.uni-align-items {
		display: flex;
		align-items: center;
	}
	
	.uni-flex-item {
		flex: 1;
	}
	
	.uni-flex-wrap {
		flex-wrap: wrap;
	}
	
	.uni-row {
		flex-direction: row;
	}
	
	.uni-column {
		flex-direction: column;
	}
	
	.uni-link {
		color: #576B95;
		font-size: 26upx;
	}
	
	.uni-center {
		text-align: center;
	}
	
	.uni-inline-item {
		display: flex;
		flex-direction: row;
		align-items: center;
	}